@import "../../../assets/scss/variables";
.order-status {
  padding: 15px 15px 15px 0;
  width: calc(100% - 15px);
  h2 {
    font-size: 22px;
    font-weight: normal;
  }
  .tiles {
    margin-top: 15px;
    ul {
      display: flex;
      li {
        display: block;
        width: calc(25% - 30px);
        padding: 10px;
        border-radius: 8px;
        background: $active;
        color: $white;
        margin-right: 10px;
        margin-bottom: 10px;
        .name {
          font-size: 12px;
          margin-bottom: 12px;
        }
        .value {
          font-size: 36px;
        }
        &:nth-child(2n) {
          background: #03a9f4;
        }
        &:nth-child(3n) {
          background: #a66dd4;
        }
        &:nth-child(4n) {
          background: #5d3fc5;
        }
      }
    }
  }
  .table {
    width: calc(100%);
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    table {
      margin-top: 10px;
      width: calc(100% - 15px);
      font-size: 14px;
      border: 1px solid $white;
      th,
      td {
        padding: 10px 5px;
        font-weight: normal;
        border-collapse: collapse;
      }
      thead {
        tr {
          background: $white;
        }
      }
      tbody {
        tr {
          cursor: pointer;
          &:nth-child(even) {
            background: #e8f0ff;
          }
          &:hover {
            background: $active;
            color: $white;
          }
        }
        td {
          font-size: 12px;
        }
      }
    }
  }
  .graphic {
    width: 100%;
    margin-top: 10px;
    #graphic {
      height: 250px;
    }
  }
}

.order-view {
  padding: 15px 15px 15px 0;
  width: calc(100% - 15px);
  .order-details {
    font-size: 16px;
  }
  #timeline {
    max-width: 100%;
    height: 500px;
  }
  h4 {
    background: #a66dd4;
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    color: $white;
    font-weight: normal;
    margin-top: 10px;
    border: 0.5px solid $white;
  }
  .flow {
    padding: 10px;
    margin-left: 45px;
    border-left: 3px solid #a66dd4;
    position: relative;
    > div {
      > div {
        display: inline-block;
        padding: 8px;
        background: #5d3fc5;
        border-radius: 5px;
        position: relative;
        margin-left: 15px;
        font-size: 14px;
        color: $white;
        &::after {
          content: "";
          position: absolute;
          height: 2.5px;
          width: 25px;
          background: #a66dd4;
          left: -25px;
          top: 13px;
        }
        &::before {
          content: "";
          position: absolute;
          left: -30px;
          background: #a66dd4;
          height: 8px;
          width: 8px;
          border: 0.5px solid $white;
          top: 10px;
        }
      }
      ul {
        margin-left: 15px;
        padding: 10px 0;
        li {
          display: inline-block;
          width: 300px;
          margin-bottom: 15px;;
          margin-right: 15px;
          background: $white;
          padding: 10px;
          border-radius: 3px;
          font-size: 14px;
          border: 0.5px solid #efefef;
          box-shadow: 0 6px 8px -8px black;
          vertical-align: top;
          &.R {
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 1) 74%,
              rgb(252, 200, 200) 100%
            );
          }
          &.G {
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 1) 74%,
              rgb(180, 255, 180) 100%
            );
          }
          &.Y {
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 1) 74%,
              rgb(254, 255, 204) 100%
            );
          }
          label {
            color: $active;
            i {
              float: left;
              font-size: 16px;
              margin-right: 5px;
              &.Y {
                color: rgb(238, 240, 133);
                border: none !important;
              }
              &.R {
                color: rgb(255, 78, 78);
                border: none !important;
              }
              &.G {
                color: rgb(24, 146, 24);
                border: none !important;
              }
            }
          }
          .lt {
            padding: 8px 0;
          }
          .btn {
            text-align: right;
            button {
              border: none;
              font-size: 12px;
              padding: 4px;
              border-radius: 2px;
              color: $white;
              cursor: pointer;
              &:active {
                opacity: 0.8;
              }
              &.Y {
                background: rgb(238, 240, 133);
                color: #000;
              }
              &.R {
                background: rgb(255, 78, 78);
              }
              &.G {
                background: rgb(24, 146, 24);
              }
            }
          }
        }
      }
    }
    .dot {
      position: absolute;
      bottom: 0;
      height: 12px;
      width: 12px;
      background: #a66dd4;
      left: -8px;
      border-radius: 100%;
      border: 1px solid $white;
      position: absolute;
      bottom: 0;
      height: 12px;
      width: 12px;
      background: #a66dd4;
    }
  }
}

.Y {
  border-left: 5px solid rgb(238, 240, 133) !important;
  td:first-child {
    border-left: 5px solid rgb(238, 240, 133) !important;
  }
}
.R {
  border-left: 5px solid rgb(255, 78, 78) !important;
  td:first-child {
    border-left: 5px solid rgb(255, 78, 78) !important;
  }
}
.G {
  border-left: 5px solid rgb(24, 146, 24) !important;
  td:first-child {
    border-left: 5px solid rgb(24, 146, 24) !important;
  }
}
