<h1>Overview</h1>
<div *ngIf="(OrderNumber && !ItemNumber) || !(OrderNumber && ItemNumber)" class="order-status">
    <div>
        <div class="graphic">
            <div id="graphic"></div>
        </div>
        <div class="table">
            <h2><span *ngIf="!filterName">Recent Orders</span> <span *ngIf="filterName">{{filterName}}</span></h2>
            <table>
                <thead>
                    <tr>
                        <th *ngFor="let header of tableHeaders">{{header.label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of tableData" (click)="gotoOrder(data)">
                        <td *ngFor="let header of tableHeaders">{{data[header.key]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="OrderNumber && ItemNumber" class="order-view">
    <div class="order-details">
        <div>Order Number: {{OrderNumber}}</div>
        <div>Item Number: {{ItemNumber}}</div>
    </div>
    <div *ngIf="flowView">
        <h4>Order Status</h4>
        <div class="flow">
            <div class="dot"></div>
            <div *ngFor="let flow of flowView">
                <div>{{flow.label}}</div>
                <ul>
                    <li *ngFor="let l of flow.list" [ngClass]="l['Status Representation']">
                        <div>
                            <label>{{l['Order Status Description']}}</label>
                            <div class="lt">Loss Type: </div>
                            <div class="btn"><button>ETD Ticket</button></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div id="timeline"></div> -->
</div>