<div class="order-status">
    <h2>Order Status</h2>
    <div>
        <div class="tiles">
            <ul>
                <li *ngFor="let order of orders">
                    <div class="name">{{order.name}}</div>
                    <div class="value">{{order.value}}</div>
                </li>
            </ul>
        </div>
        <div class="table">
            <h2>Recent Orders</h2>
            <table>
                <thead>
                    <tr>
                        <th *ngFor="let header of tableHeaders">{{header.label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of tableData">
                        <td *ngFor="let header of tableHeaders">{{data[header.key]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="graphic">
            <h2>ETD Ticket Status</h2>
            <div id="graphic"></div>
        </div>
    </div>
</div>