// default styles across application

$background-gray-color:#DFDFE0;
$background-gray-container-color:#F5F6F6;
$background-light-blue-color:#f3f8fc;
$background-white-color:#DFDFE0;
$background-skyblue-color-transperant:#338fce4a;
$border-skyblue-color:#338FCE;
$border-grey-color:#BFC0C2;
$background-light-gray-color:#EFEFF0;
$font-size-large:16px;
$font-size-xxlarge:22px;
$font-size-medium:14px;
$font-size-low:12px;
$font-size-very-low:10px;
$font-size-xlarge:18px;
$font-black-color:#000000;
$font-grey-color:#BFC0C2;
$font-skyblue-color:#3b76ee;
$font-style-regular:'Bosch Sans Regular, regular';
$font-style-light:'Bosch Sans, light';
$font-dark-grey:#A8AFB5;

$primary-blue: #3b76ee;
$secondary-bg: #f5fafe;

$white: #FFF;
$black: #000;
$grey: #525F6B;
$active: #3b76ee;
$border: #BFC0C2;

$h5-Blue: #338FCE;
$list-border: 1px solid $border;
$list-border-dashed: 1px dashed $border;
$list-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
$radio: #DFDFE0;

$header-bg: #DFDFE0;
$tab-container-bg: rgba(51, 143, 206, 0.06);
$lt-grey-bg: rgba(191, 192, 194, 0.15);
$table-alter: #f3f3f3;

$operating-time-border: #7068CA;
$phantom-border: #3E8DE4;
$mapping-appl-border: #47BDE7;
$users-groups-border: #00A8B0;

$backdrop-white: rgba(255,255,255,0.9);
$backdrop-white-05: rgba(255,255,255,0.5);
$backdrop-black: rgba(0,0,0,0.9);
$backdrop-black-desktop: rgba(0,0,0,0.8);
$backdrop-white-desktop: rgba(255,255,255,0.2);
$background-dark-grey: #CED1D3;

$error: #b30000;
$yellow: #F2E30B;
$lt-green: #78BE20;
$dark-green: #006249;
$sky-blue: rgb(0, 142, 207, 0.5);
$tab-border: #E9E9E9;
$tab-bg: #F9F9F9;
$txt-blue: #008ECF;
$background-maroon: #90171c;
$background-light-maroon: #feefef;
$background-skyblue-shade-color: #56c0ee;
$sky-blue-dark: rgb(9, 125, 241);
$main-blue: #0000FF;
$lipstick: #b80376;
$dark-lipstick: #9a045e;
$light-skyblue: #a0d7ef; 
$shadowed-skyblue: #d8ebf2;