@import "../../../assets/scss/variables";
.faq {
    ul {
        display: block;
        padding: 5px;
        li {
            display: block;
            label {
                font-size: 16px;
                padding: 8px 0;
                margin-bottom: 5px;
                background: $white;
                display: block;
                cursor: pointer;
                i {
                    font-size: 22px;
                    color: $active;
                }
            }
            .subs {
                padding-left: 22px;
            }
        }
    }
    .topic {
        color: $active;
    }
    .para {
        white-space: pre-line;
        font-size: 14px;
        padding: 10px 15px;
        line-height: 22px;
    }
}