@import "../../../assets/scss/variables";
.cb {
  background: $active;
  width: 320px;
  border-radius: 30px 0 0 30px;
  height: calc(100% - 80px);
  position: relative;
  padding-top: 80px;
  transition:width 0.2s;
  &.ncb {
    width: 120px;
  }
  &::after {
    content: "";
    width: 40px;
    border-radius: 30px 0 0 30px;
    float: right;
    height: 100%;
    background: $secondary-bg;
    position: absolute;
    right: 0;
    top: 0;
  }
  img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(calc(-50% - 20px), 10px);
  }
  ul.navs {
    display: block;
    li {
      display: inline-block;
      margin: 5px 5px 0;
      padding: 5px;
      border-radius: 5px;
      color: $white;
      background: rgba(255, 255, 255, 0.2);
      margin-bottom: 1px;
      width: calc(50% - 40px);
      cursor: pointer;
      &:first-child {
        width: calc(100% - 60px);
      }
      &:hover {
        background: #03a9f4;
        cursor: pointer;
      }
      &.active {
        background: #a66dd4;
      }
      i {
        font-size: 18px;
        color: $white;
        margin-right: 5px;
        cursor: pointer;
      }
      label {
        font-size: 12px;
        cursor: pointer;
      }
      &.icon-only {
        transition: all 0.2s;
        display: block;
        width: calc(100% - 60px);
        text-align: center;
        label {
          display: none;
        }
        i {
          font-size: 28px;
        }
      }
    }
  }
  .chat-box {
    display: block;
    height: calc(100% - 300px);
    position: relative;
    width: calc(100% - 45px);
    overflow-y: auto;
    .msg {
      width: calc(100% - 70px);
    }
    ngx-simplebar {
      width: 100%;
      height: 100%;
    }
  }
  .msg {
    padding: 15px 5px;
    margin: 5px;
    width: calc(100% - 85px);
    border-radius: 5px;
    background: $white;
    font-size: 14px;
    padding-left: 30px;
    float: left;
    .info {
      margin-left: -25px;
      font-size: 10px;
      margin-top: -10px;
      margin-bottom: 5px;
      span {
        color: $font-dark-grey;
        display: inline-block;
        &:nth-child(even) {
          float: right;
        }
      }
    }
    .profile-img {
      border-radius: 50%;
      float: left;
      background: #dce7ff;
      height: 30px;
      width: 30px;
      text-align: center;
      margin-left: -25px;
      margin-right: 5px;
      i {
        font-size: 20px;
        color: $font-dark-grey;
        margin-top: 4px;
        display: block;
      }
    }
    label {
      display: inline-block;
      width: calc(100% - 10px);
    }
  }
  .messages, ngx-simplebar {
    position: absolute;
    width: 100%;
    bottom: 0;
    .msg {
      &.right {
        padding-left: 0;
        padding-right: 30px;
        float: right;
        margin-right: 15px;
        .profile-img {
          float: right;
          margin-right: -25px;
        }
        label {
          margin-right: 5px;
          text-align: right;
        }
        .info {
          margin-right: -25px;
          span {
            &:nth-child(odd) {
              margin-left: 30px;
            }
          }
        }
      }
    }
  }
  .chat-input {
    padding: 5px;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 10px);
    input {
      background: $white;
      border: none;
      width: calc(100% - 125px);
      padding: 8px;
      color: #9c27b0;
      margin-left: 34px;
      border-radius: 5px;
    }
    i.icofont-business-man {
      position: absolute;
      left: 15px;
      bottom: 15px;
      color: $white;
    }
    i.icofont-send-mail {
      color: $white;
      font-size: 28px;
      position: absolute;
      right: 47px;
      top: 7px;
      cursor: pointer;
    }
  }
  .icofont-scroll-left, .icofont-scroll-right {
    position: absolute;
    top: calc(50% - 8px);
    right: 8px;
    z-index: 1;
    font-size: 22px;
    color: $font-dark-grey;
  }
}
